<html>
    <body>
        <h1>Home Page</h1>
        You entered: <br>
        Email: <%= email %> <br>
        Password: <%= pass %> <br>

        <%= c %> <br> 
        <%- d %> <br> 

        <ul>
        <% for( let index = start; index < end; index++ ) { %>
            <li>Hello: <%= index %><br></li>
        <% } %>
        </ul>
    </body>
</html>