<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs') %>

        <title>Shopping cart</title>
</head>

<body>
<%- include('partials/nav.ejs', {page:'shoppingcart' }) %>
<h1>Shopping Cart Contents</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Qty</th>
        <th scope="col">Summary</th>
      </tr>
    </thead>
    <tbody>
        <%  for (let i=0; i < cart.contents.length; i++) { %>
      <tr>
        <th scope="row"><img width=50 height=50 src =" <%= cart.contents[i].product.image_url %>"> </th>
        <td><%= cart.contents[i].product.name %></td>
        <td><%= cart.contents[i].product.price.toFixed(2) %></td>
        <td><%= cart.contents[i].qty %></td>
        <td><%= cart.contents[i].product.summary %></td>
    </tr>
      <% } %>
    </tbody>
  </table>

<%- include('partials/scripts.ejs') %>
</body>

</html>