<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('../partials/header.ejs') %>

        <title>List  admin</title>
</head>
<body>
    <h1>List of Users</h1>
    <a href= "/admin/listUsers" class ="btn btn-outline-primary"> List Users</a> "


    <% if (!error) { %>
        <h1> List Of Users </h1>
        <br>
        <%users.forEach (u => { <% 
            Eamil: <%= u.email %> <br>
            DisplayName <% = u.displayName %> <br>
            PhoneNmberL <%= u.PhoneNmber %><br>
            <img src = "<%= u.photourl %> "> <br> <br>

        <%})%>
<% } else { %>
<% } %> 

    <%- include('../partials/scripts.ejs') %>
</body>

</html>